* {
    border-width: 0;
    border: none;
    padding: none;
    margin: none;
}

header {
    background-color: bisque;
    width: 800px;
    height: 60px;
}

.main_content {
    background-color: aqua;
    width: 800px;
    height: 480px;
}

footer {
    background-color: bisque;
    width: 800px;
    height: 60px;
}


main {
    background-color: black;
    width: 80%;
    height: 100%;
}

aside {
    width: 20%;
    height: 100%;
    background-color: blueviolet;
}

body {
    width: 800px;
    height: 600px;
}

.box {
    position: relative;
    float: left;
  }